In [1]:
#Basic and most important libraries
import pandas as pd , numpy as np
from sklearn.utils import resample
import matplotlib.pyplot as plt
import seaborn as sns

#Data processing functions
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , MinMaxScaler
from sklearn import svm
from sklearn.model_selection import GridSearchCV

#testing accuracy
from sklearn import metrics
from sklearn.metrics import classification_report , accuracy_score
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings("ignore")

In [2]:
sns.set_theme()

In [3]:
sp=pd.read_csv("Spam.csv", encoding='latin-1')

In [4]:
sp.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
sp.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace=True)

In [6]:
sp.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [8]:
sp.shape

(5572, 2)

In [9]:
X = sp["v2"]
Y = sp["v1"]

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
cv = CountVectorizer()
X_2 = cv.fit_transform(X)

In [12]:
X_train , X_test , y_train , y_test = train_test_split(X_2,Y,test_size=0.20,random_state=0)

In [13]:
parameters = {'kernel':['linear','rbf'],'gamma':[1e-3,1e-4],'C':[1,10,100,1000]}
gs = GridSearchCV(svm.SVC(),parameters)
gs.fit(X_train,y_train)
print(gs.best_params_)

{'C': 100, 'gamma': 0.001, 'kernel': 'rbf'}

In [14]:
SVM = svm.SVC(kernel="rbf",class_weight="balanced",gamma=0.001,C=100,probability=True)
SVM.fit(X_train,y_train)
y_pred = SVM.predict(X_test)

In [15]:
confusion_matrix = metrics.confusion_matrix(y_test, y_pred)
print(classification_report(y_pred,y_test))
print("Confusion Matrix:>\n",confusion_matrix)
print("\nSVM:>",accuracy_score(y_pred,y_test))

              precision    recall  f1-score   support

         ham       1.00      0.98      0.99       963
        spam       0.90      0.99      0.94       152

    accuracy                           0.98      1115
   macro avg       0.95      0.99      0.97      1115
weighted avg       0.99      0.98      0.98      1115

Confusion Matrix:>
 [[947   2]
 [ 16 150]]

SVM:> 0.9838565022421525